server:
  port: 8000

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka
  instance:
    prefer-ip-address: true
#    hostname: localhost

spring:
  main:
    web-application-type: reactive
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  application:
    name: apigateway-service
  cloud:
    gateway:
      routes:
        # SockJS route
        - id: chatservice
          uri: http://localhost:8080
          predicates:
            - Path=/**
        # Normwal Websocket route
        - id: chatservice
          uri: ws://localhost:8080
          predicates:
            - Path=/ws/**



logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.ipc.netty: DEBUG
    reactor.netty: DEBUG

management.endpoints.web.exposure.include: '*'